@using System.ComponentModel.DataAnnotations
@using System.Configuration
@using Microsoft.AspNet.Identity
@using stemmeApp.Models
@model stemmeApp.Models.VoteModel
<link rel="stylesheet" href="~/Content/Site.css">

<style>

    p.card-info {
        text-align: center;
        height: 110px;
        overflow: auto;
        letter-spacing: 1px;
        margin-top: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-left: 1rem !important;
        margin-bottom: 2rem !important;
    }
</style>

@{
    ViewBag.Title = "Vote";

}
<br />
<h2>Vote for a candidate </h2>

@if (DateTime.Now < @Model.ElectionInformation[0].ElectionStart)
{
    <h3>
        The voting panel for election: @Model.ElectionInformation[0].IdElection. will open at election start: @Model.ElectionInformation[0].ElectionStart
    </h3>
}
else if (DateTime.Now > @Model.ElectionInformation[0].ElectionEnd)
{
    <h3>
        The voting panel for election: @Model.ElectionInformation[0].IdElection. ended at election end: @Model.ElectionInformation[0].ElectionEnd
    </h3>
}

else
{
    <h4>
        If you don't see anyone you want to vote on, you can nominate anyone candidate here: @Html.ActionLink("here.", "Nominate", "Home")
    </h4>
    if (TempData["VotedOn"] != null)
    {
        <form method="post" action="@Url.Action("RemoveVote", "home")">
            <input class="btn btn-danger" name="submit" type="submit" value="Revoke Vote" onclick="return confirm('Are you sure you want to revoke your vote?')" />
        </form>
    }

    <br />
    if (TempData["VotedUser"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> @TempData["VotedUser"]</strong>
        </div>
    }
    <br />
    if (TempData["CandidteSuccess"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> @TempData["CandidteSuccess"]</strong>
        </div>
    }
    <br />
    if (TempData["RemoveVote"] != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["RemoveVote"]</strong>
        </div>
    }
    <br />

    foreach (var item in Model.Candidates)
    {
        <div class="b5card text-center" style="width: 40rem; border-radius: 5px; margin-left: 6rem !important; margin-top: 2rem !important; margin-right: 2rem !important; margin-bottom: 2rem !important; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


            <img class="card-img-top" img src="~/@item.picture" width="400" height="250" style=" object-fit: fill; border-radius: 3px;" />
            <div class="card-body">
                <h3><strong class="card-text">@item.firstname @item.lastname </strong> </h3>
                <strong><p class="card-text">@item.faculty </p></strong>
                <strong><p class="card-text">@item.institute</p></strong>
                <p class="card-info">@item.info </p>


                <form method="post" action="@Url.Action("Vote", "Home")">
                    <input type="text" text-center name="username" value="@item.username" hidden />
                    <input style="width:50%; margin-bottom:5%;" class="btn btn-primary" name="submit" type="submit" value="Vote for candidate" onclick="return confirm('Are you sure you want to vote for @item.username')" />
                </form>


            </div>
        </div>

    }

}


